
/*errors*/
 .saved{
		background-color: #D76024;
		border: 1px solid #9A582B;
		border-radius: 20px 20px 20px 20px;
		font-size: 30px;
		font-style: italic;
		margin: 0 20px 20px;
		padding: 10px;
		color:#fff;
		text-align: center;
		text-transform: uppercase;
	}

#loading,.loading{
		display: inline-block;
		height: 16px;
		width: 16px;
	}
	/* ERROR MESSAGES */

	.error {
		border: 1px solid #E59999;
		background-color: #F5F3F3;
		padding: 7px 10px 7px 0px;
		}
	.error span.errorMessage {
		color: #CC3333;
		}
	.error span.errorMessage p {
		margin: 5px 10px 0 0px;
		color: #CC3333;
		font-size: .95em;
		line-height: 1.2em;
	}
.none{
	display:none;
}
/*lightbox*/
#lightbox_temp{
	padding:0;
	font-family:arial;
	font-size:20px;
	color:#555555;
}

.ui-widget-header span.ui-icon.ui-icon-closethick{
	background:none;
	
}
.ui-dialog .ui-dialog-titlebar-close {
    display: block;
    height: 29px;
    position: absolute;
    right: -13px;
    top: -13px;
    width: 29px;
}
div.ui-widget-content{
}
/*forms*/
textarea.wide, .likeTextarea.wide {
    width: 620px;
}
textarea.medium{
	width:520px;
}
textarea.tall, .likeTextarea.tall {
    height: 222px;
}
input[type=text].small{
	width:183px;
}
input[type=text].vsmall{
	width:100px;
}
textarea:focus,select:focus,input[type=text]:focus,input[type=password]:focus,form.likeTextarea:focus{
	border:5px solid #FB801A;
}
input[type="radio"]{
	float:left;
}
textarea,select,input[type=text],input[type=password],form.likeTextarea{
	font-family:arial;
	font-size:16px;
	border: 5px solid #D4D4D4;
	border-radius: 3px;
	padding: 0 5px;
}
select{
	padding-right:0;
}
#new_content .table{
	overflow:hidden;
}
#new_content .table table{
	width:100%;
	
}
	.table td,.table th{
		border-bottom: 1px dashed #aeaeae;
		color: #5a5959;
		font-family: arial;
		font-size: 12px;
		padding: 10px 10px;
		
	}
	.table tr td:first-child,.table tr th:first-child{
		padding-left:26px;
	}
	.table tr td:last-child,.table tr th:last-child{
		padding-right:26px;
	}
	tbody.border{
		border-bottom: 1px dashed #aeaeae;
	}
	.table .no_border td,.table .no_border th{
		border:none;
	}
	.table tbody tr:last-child td,.table tbody:last-child{
		border:none;
	}
	.table th{
		font-weight:bold;
		color:inherit;
	}
#new_content form fieldset,.table{
	background-color:#FDFDFD;
	border:7px solid #E1E1E1;
	border-radius:5px;
	margin-bottom: 20px;

}
	#new_content form fieldset div.title,.table caption{
		background: url("/assets/global/form/form_legend_bg.jpg") repeat-x scroll left top #EDF2F5;
		font-size: 21px;
		font-weight: bold;
		min-height: 40px;
		line-height: 40px;
		padding-left: 20px;
		border-bottom:1px solid #E3E4E6;
	}
		.table caption .obg{
			white-space:normal;
		}
	#new_content form fieldset label{
		color: #5a5959;
		float: left;
		font-family: arial;
		font-size: 11px;
		margin-top: 8px;
		padding-right: 18px;
		text-align: right;
		width: 72px;
	}	
	#new_content form fieldset .row{
		padding:0 10px;
	}
#sub_menu{
	 margin: 0 0 20px;
}
/*bounceexchange new design 2012*/
body{
	background-color:#000;
	font-family:Myriad Pro,Arial;
	color:#555555;
	font-size:20px;
	letter-spacing:1px;
}
a,a:visited,a:hover{
	color:#5a5959;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

/*new content*/
.row ul{
	margin:0px 0;
}
.row{
	margin: 10px 0;
}

h2{
	font-family:Myriad Pro, Arial;
	font-size:50px;
	font-weight:normal;
	padding: 10px 0;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    padding: 10px 0 20px;
}
h4 {
    font-size: 20px;
    font-weight: normal;
	line-height:20px;
}
.obg{/* orange text bg*/
	display:inline;
	padding: 0 3px;
	white-space:nowrap;
	color:#fff;
	background-color:#FB6F03;
}
.o{
	color:#FB6F03;
}
ul.oul{
	list-style: none;
	font-size:17px;
	line-height: 30PX;
}
	ul.oul .o{
		font-size:20px;
	}
	ul.oul li{
		margin:0px 0;
	}
	ul.oul li:before{
		color:#FB6F03;
		content: '• ';
	}


.button.grey{
	background-color: #313131; 
}
.button.orange{
	background-color: #FB7403; 
}
.button.green {
    background-color: #5BBA47;
}
.button.red {
    background-color: #C00000;
}

.big.button{
	border: 10px solid #D5D5D5;
	line-height: 30px;
	padding: 28px 24px;
	font-size: 30px;
}
.small.button{
	border: 3px solid #D5D5D5;
    font-size: 14px;
    line-height: 14px;
    padding: 2px 17px;
}
.small.button.orange{
	background:#FB7403;
}
.button:hover{
	text-decoration:none;
}
